

.footer {
    background-color: #222;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.item {
    margin-right: 0.5em;
    color: #fff;
}
.item:hover {
    color: #ffbb33;
}
.item svg {
   cursor: pointer;
}

.copy {
    margin-top: 1em;
}

.copy_span {
    font-weight: bold;
    color: #ffbb33;
}